body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}

.site-header {
	background: #ffffff;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #8c8c8c;
}

.site-header .logo img {
	height: 50px;
	/* Adjust the size as needed */
}

.site-header .fleche img {
	height: 30px;
	/* Adjust the size as needed */
}

.profile-container {
	max-width: 400px;
	margin: 50px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
}

.profile-name{
  text-align: center;
}

.profile-pic {
	border-radius: 50%;
	width: 100px;
	/* Adjust the size as needed */
}

button {
	background-color: #007bff;
	color: white;
	padding: 20px 40px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

.profile-body {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.logout-button {
	background-color: #dc3545;
	width: 100%;
	box-sizing: border-box;
}

.logout-button:hover {
	background-color: #bd2130;
}

.custom-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 101;
	background-color: rgba(0, 0, 0, 0.5);
  }
  .custom-modal label {
	width: 100%;
  }