body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding-left: 20%;
  padding-right: 20%;
}

.site-header {
  background: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #8c8c8c;
}

.site-header .profil img {
  height: 50px;
  border-radius: 100%;
  /* Adjust the size as needed */
}

.site-header .fleche img {
  height: 30px;
  /* Adjust the size as needed */
}

nav {
  padding-top: 3%;
  text-align: center;
}

nav>a {
  text-decoration: none;
  color: black;
  padding-left: 1%;
  padding-right: 1%;
}

p,
table,
h2,
button[name="ajouter"] {
  margin-left: 8px;
}

form {
  width: 65%;
}

.forms {
  display: flex;
  width: 100%;
}

.header-site {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  font-size: 20px;
  background-color: lightgrey;
  color: black;
  font-weight: bold;
  padding: 5px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

thead {
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 10px;
  text-align: center;
  background-color: #0050a7;
  color: white;
}

td:nth-child(even) {
  background-color: #ffffff;
}

/*td:hover {
background-color: #ddd;
}*/

p[class="total"] {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

table,
th,
td {
  border-collapse: collapse;
  /*border: 1px solid black;*/
  padding: 10px;
  border: 1px solid #ddd;
}

.total {
  font-weight: bold;
}

fieldset {
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: bold;
  background-color: #0060c7;
  color: white;
  padding: 5px 10px;
}

input,
select,
option {
  background-color: #ffffff;
}

button {
  background-color: #007bff;
  color: white;
  padding: 8px;
  font-size: 16px;
  font-family: inherit;
  border: 1px solid black;
  margin: auto;
  margin-top: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #00356d;
  color: white;
}

button:active {
  background-color: rgb(133, 144, 209);
  color: white;
}

.distance-selector {
  margin: auto;
  width: 100%;
  text-align: center;
}

.current-distance {
  text-align: right;
  font-size: 15px;
  margin-bottom: 5px;
}

.distance-slider {
  width: 100%;
}

.min-distance,  .max-distance{
  display: inline-block;
  font-size: 14px; 
  width: 95px;
}

.supprimer-btn {
  background-color: red;
}

/*
.min-distance {
  /*display: flex;
  /*width: 75px;
}

.max-distance {
  /*display: flex;*/
  /*padding-left: 150px;
}*/