body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}

.site-header {
	background: #ffffff;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #8c8c8c;
}

.site-header .logo img {
	height: 50px;
	/* Adjust the size as needed */
}

.site-header .post-ad-button {
	background: #007bff;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	border-radius: 15px;
	display: flex;
	align-items: center;
	font-weight: bold;
}

.site-header .post-ad-button .icon-plus {
	margin-right: 10px;
	height: 20px;
	/* Adjust size as needed */
}

.site-header .search-bar {
	display: flex;
	align-items: center;
	position: relative;
	flex-grow: 1;
}

.site-header .search-bar input {
	flex-grow: 1;
	padding: 10px 10px 10px 20px;
	border: 1px solid grey;
	border-radius: 15px;
	background-color: #EDEDED;
}

.site-header .search-icon {
	position: absolute;
	right: 10px;
	width: 30px;
	/* Adjust size as needed */
	cursor: pointer;
}

.site-header .connect-button {
	display: block;
	background: transparent;
	border: none;
	padding: 0;
}

.site-header .connect-button .profile-image {
	height: 50px;
	border-radius: 100%;
	/* Adjust size as needed */
}

.profile-container {
	max-width: 800px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
}

.profile-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;
}

.profile-pic {
	border-radius: 50%;
	width: 100px;
	/* Adjust the size as needed */
}

.profile-info,
.wallet-info {
	text-align: center;
}

.profile-info h1,
.wallet-info h2 {
	margin: 5px 0;
}

button {
	background-color: #007bff;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
}

button:hover {
	background-color: #0056b3;
}

.profile-body {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.logout-button {
	background-color: #dc3545;
	width: 100%;
	box-sizing: border-box;
}

.logout-button:hover {
	background-color: #bd2130;
}