/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #f3f3f3;
}

.site-header {
    background: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #8c8c8c;
}

.site-header .logo img {
	height: 50px;
	/* Adjust the size as needed */
}

.site-header .fleche img {
	height: 30px;
	/* Adjust the size as needed */
}

.favoris {
max-width: 800px;
margin: auto;
background: white;
padding: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.objet {
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 20px;
border: 1px solid #dee2e6;
padding: 10px;
background-color: #e9ecef;
}

.image img {
width: 200px;
}

.details {
flex-grow: 1;
padding-left: 20px;
}

.details h3 {
margin-top: 0;
}

.supprimer {
background-color: #dc3545;
color: white;
border: none;
padding: 10px 20px;
}

.prixProduit {
text-align: right;
font-weight: bold;
}

.prixTotal {
text-align: right;
margin-top: 20px;
font-size: 1.2em;
font-weight: bold;
color: #007bff;
}

h2 {
color: #333;
}