.distance-selector {
    margin: 50px auto;
    width: 80%;
    text-align: center;
}

.current-distance {
    font-size: 18px;
    margin-bottom: 10px;
}

.distance-slider {
    width: 100%;
}

.min-distance, .max-distance {
    display: inline-block;
    width: 50px;
}